html, body {
  margin: 0;
  padding: 0;
  background-color: #202020;
  color: #FFFFFF;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-family: Helvetica;
}

canvas {
  display: block;
}

h1 {
  margin-left: auto;
  margin-right: auto;
}

h2 {
  margin-left: 10%;
  margin-right: auto;
}

h3 {
  margin-left: auto;
  margin-right: auto;
  width: 350px;
}
h4 {
  margin-left: auto;
  margin-right: auto;
}

p.statement {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6;
}

.button {
  background-color: #FFA500;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

iframe {
  border: none;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #303030;
  padding: 10px;
}

.grid-item {
  background-color: #404040;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
}
